/* barra superior */
.info {
  z-index: 999;
  margin:0;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  position: fixed;
  padding: 0;
  background: #020024;
  height: 2rem;
  width: 100%;
  box-shadow: 0px 5px 7px #020024;
}

.info-item:hover, a:hover {
  color: #784EFF;
  transition: all .25s ease-in;
}

.info li, a {
  margin-right: 1.5rem;
}

.bar-top{
width: 100%;
height: 5rem;
}

.info-item, a {
  text-decoration: none;
  color: white;
}

/* margin */

.marg{
  margin: 0 0.75rem;
}
/* textos */

.pre-salut, .pre-project{
  max-width: 65rem;
  padding: 6rem;
  margin: auto;
}

.pre-about, .pre-techs, .pre-project {
  padding: 6rem;
}

.resumen {
  max-width: 50rem;
}

.resumen p {
  margin: 1rem 3rem;
}

.salut{
  margin: 0 10px;
}

h1{
  font-size: 7vw;
}

.techs h1{
  margin-left: 4rem;
  position: relative;
  margin-bottom: 1rem;
}

h2.dev{
  opacity:.6;
  font-size: 3.5vw;
}

.line{
  margin: 0;
  content: '';
  border-bottom: .25rem solid #784EFF;
  display: block;
  width: 16vw;
  opacity: 1;
  margin-left: 1rem;
}

.salut p, .me, .dev{
  margin: 0;
  margin-left: .5rem;
}

.dev {
  padding-bottom: 4px;
}

.nombreItem{
  padding: 1rem;
  text-align: center;
}

.pre-about{
  text-align: center;
}

.about h1, .techs h1, .project h1, #contenedor h1{
  border-bottom: .25rem solid #784EFF;
  display: inline;
}

#contenedor h1 {
  padding-bottom: 0.25rem;
}

.about-p{
  display: flex;
}

.about{
  width: 75%;
  margin: auto;
}

.about p{
 width: 50%;
 text-align: left;
 margin: 2rem;
}


/* lista de items */


body {
  background-image: url('imagenes/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

#item-list{
  display: flex;
  flex-wrap: 	wrap;
  justify-content: center;
}

.items{
  width: calc(25% - 2rem);
  margin: 2rem;
}

.item{
  transform-style: preserve-3d;
  perspective: 1000px;
}

.tech-container {
  width: 90%;
  margin: auto;
  padding: 3rem;
}

.item-front, .item-back{
  box-shadow: 0 4px 8px 0 #020024;
  border-radius: 10px;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  height: 0;
  margin: 0;
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  color: #fff;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
}

.item-front .image {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  z-index: -1;
}

.item-back{
  background: #cedce7;
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}

.item-front:after {
  position:absolute;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  backface-visibility: hidden;
  border-radius: 10px;
}

.item:hover .item-front,
.item:hover .item-back {
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}


.item-inner{
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  text-align: center;
}

.item-front .item-inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.item-front .item-inner p:after {
  content:'';
  width: 6rem;
  height: 3px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.item .item-back{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.item .item-front{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.item:hover .item-back{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.item:hover .item-front{
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.item-front .item-inner span{
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  font-size: 1rem;
}

.descr{
  font-size: 1rem;
}


#contenedor{
  width:90%;
  margin: 0 auto;
  max-width: 80rem;
  padding: 6rem 0;
}



.img-grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
}

.img-card {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}

.item-card img {
  margin: auto;
  max-width: 100%;
  display: block;
}

.lista > li {
padding: 0.5rem 0;
}


@media screen and (max-width: 64rem){
  .items{
    width: calc(33.333333% - 2rem);
  }
  .about {
    width: 100%;
  }
  .pre-about{
    padding: 4rem;
  }
}

@media screen and (max-width: 48rem){
  .items{
    width: calc(40% - 2rem);
  }
  .about {
    width: 100%;
  }
  .pre-about, .pre-techs, .pre-project {
    padding: 2rem;
  }

  .tech-container {
    width: 80%;
  }

  .pre-salut{
    padding: 6rem 3rem;
  }

  .about-p {
    margin: 2rem 1rem;
  }
}

@media screen and (max-width: 32rem){
  .items{
    width: calc(75% - 2rem);
  }

  .pre-salut {
    padding: 6rem 1rem;
  }

  .pre-about, .pre-project, .pre-techs{
    text-align: center;
  }

  .techs h1 {
    margin-left: 0;
  }

  .pre-about {
    padding: 0;
  }

  .about-p {
    display: initial;
  }

  .about p {
    width: 100%;
  }

  .project p, .project li {
    text-align: initial;
  }

  .img-grid {
    gap: 1rem;
  }
}