/* barra superior */
.info {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 25;
}

.info-item {
  text-decoration: none;
}

/* lista de items */


body {
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(68,9,121,1) 46%, rgba(0,212,255,1) 100%);
}

#item-list{
  display: flex;
  flex-wrap: 	wrap;
  justify-content: center;
}

.items{
  width: calc(25% - 2rem);
  margin: 2rem;
}

.item{
  transform-style: preserve-3d;
  perspective: 1000px;
}

.item-front, .item-back{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  height: 0;
  margin: 0;
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  color: #fff;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
}

.item-front .image {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  z-index: -1;
}

.item-back{
  background: #cedce7;
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}

.item-front:after {
  position:absolute;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  backface-visibility: hidden;
  border-radius: 10px;
}

.item:hover .item-front,
.item:hover .item-back {
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}


.item-inner{
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  text-align: center;
}

.item-front .item-inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.item-front .item-inner p:after {
  content:'';
  width: 8rem;
  height: 3px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.item .item-back{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.item .item-front{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.item:hover .item-back{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.item:hover .item-front{
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.item-front .item-inner span{
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  font-size: 1rem;
}

.descr{
  font-size: 1rem;
}


#contenedor{
  width:90%;
  margin: 0 auto;
  max-width: 80rem;
}

@media screen and (max-width: 64rem){
  .items{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .items{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .items{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}